.header__container{
    background:#fff;
    height: 96px;
    margin: 10px 260px;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mặc định là căn giữa */
}
@media (max-width: 1500px) {
    .header__container {
        margin: 10px 60px;
    }
    .input__header {
       max-width: 700px !important;
    }
}
@media (max-width: 1200px) {
    .header__container {
        margin: 10px 50px;
    }
    .input__header {
        max-width: 500px !important;
    }
}
@media (max-width: 992px) {
    .header__container {
        margin: 10px 50px;
    }
    .input__header {
        max-width: 300px !important ;
    }
    .header-right {
        display: none !important;
        
    }
}
@media (max-width: 768px) {
    .header__wrapper {
        justify-content: center !important;
    }
}
.search-wrapper {
    border:1px solid #DDDDE3;
    border-right: unset;
    border-top-left-radius: 8px;
    padding:6px 0 6px 10px ;
}
.input__header{
    display: block;
    padding-left: 40px;
    border:none;
    border-right: 1px solid #DDDDE3;
    outline: none;  
    height: 26px;
    width: 778px;
}
.icon__search{
    top:50%;
    transform: translateY(-50%);
    left: 15px;
}
.button__header {
    border:none;
    background-color: unset;
    color:#0A68FF;
    width: 92px;
    height:39.8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #DDDDE3;
    border-left: unset;
}
.button__header:hover {
    background-color: #0A68FF;
    color: white;
}
.text-color__header {
    color:#808089
}
.badge__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top:-11px;
    right:-6px;
    width: 16px;
    height: 15px;
    background-color: #FF424F;
    color: #fff;
}
/************************/

.search-results {
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 15px ;
    width: 100%; 
    position: absolute;
    z-index: 1000;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
}
.search-results li:hover{
    background-color: #ccc;

}

.search-results img {
    margin-right: 10px;
}
