.card{
    cursor: pointer;
}
.card__body{
    padding:20px 5px 5px 5px
}
.text__title-book{
    font-size: 12px ;
    font-weight: 400;
    line-height: 18px ;
    color: #27272A ;
}
.text__sold-book{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #808089;
}
.text__ship{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #808089;

}
